  @import "./Variables.scss";
  @import url("https://use.typekit.net/bjl2fzp.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: chaloops, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../images/bg.jpg");
  background-size: auto;
  background-repeat:repeat;
}

h1 {
  font-family: chaloops, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
}

h2 {
  font-family: chaloops, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
}

h3 {
  font-family: chaloops, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

p,
li {
  font-family: chaloops, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  list-style-position: inside;
  margin-bottom: 0;
}

b, button {
  font-family: chaloops, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

.contracts, .hunters{
  background:rgba(255, 255, 255, 0.7);
  border:2px #222 solid;
  border-radius: 8px;
}

.hunters ul{
  overflow:hidden
}
.hunters ul li{
  display:inline;
  padding:0.335rem;
}