@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  padding-top: 8rem;
}

main {
  max-width: $desktop-screen-width;
  margin: auto;
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p,
li,
b,
button {
  font-size: 1.6rem;
}
